/* styles.css */

/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos gerais */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: disc;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #337ab7;
    text-decoration: none;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Estilos das seções */
  section {
    background-color: #fff;
    padding: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .projeto {
    margin-bottom: 20px;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
    
  